.main{
    background-image: url('./Main_img/back.png');
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-bottom:130px;
}
.main__title{
    font-size:40px;
    opacity: 0.9;
    line-height: 50px;
    display: flex;
    align-items: center;

}
.main__subtitle{
    font-size:40px;
    padding-left: 100px;
    opacity: 0.9;
    line-height: 50px;
}
.main__list{
    display: flex;
    justify-content:space-between;
    padding-top: 100px;
}
.fa-award,.fa-users,.fa-message{
    font-size:50px;
    color: rgb(78, 78, 78);
}
.fa-award:hover,.fa-users:hover,.fa-message:hover{
    color:#FAB448;
}
.main__name{
    font-size: 20px;
    padding-top: 40px;
}
.main__name:hover{
    color: #FAB448;
}
.main__text{
    font-size: 14px;
    line-height: 22px;
    padding-top: 20px;
    max-width: 310px;
}



@media(max-width:1120px){
    .container{
        width: 1000px;
    }
  }
  
  @media(max-width:1020px){
    .container{
        width: 900px;
    }
  }
  
  @media(max-width:920px){
    .container{
        width: 800px;
    }
    .main__list{
        gap: 15px;
    }
  }
  
  @media(max-width:820px){
    .container{
        width: 700px;
    }
    .main__list{
        flex-direction: column;
    }
    .main__text{
        max-width: 100%;
        padding-bottom: 25px;
    }
   
   
  }
  
  @media(max-width:720px){
    .container{
        width: 600px;
    }
    .main{
        background-image: url('./Main_img/back.png');
        background-size: cover;
        background-position: center;
        padding-top: 40px;
        padding-bottom:80px;
    }
  }
  
  @media(max-width:620px){
    .container{
        width: 500px;
    }
  }
  
  @media(max-width:520px){
    .container{
        width: 400px;
    }
    .main{
        background-image: url('./Main_img/back.png');
        background-size: cover;
        background-position: center;
        padding-top: 0px;
        padding-bottom:20px;
    }
    .main__title,.main__subtitle{
        font-size:35px
    }
    .main__list{
        display: flex;
        justify-content:space-between;
        padding-top: 50px;
    }
  }
  
  
  @media(max-width:420px){
    .container{
        width: 100%;
        padding: 15px;
    }
  }